- require 'active_support/core_ext/numeric/conversions'
= link_to "収入科目の新規データ登録", new_income_value_path

%h2 収入科目 データ一覧
- if @income_values.present?
  %table
    %tr
      %th 
        登録年月
      %th 
        名称
      %th 
        値
      %th 
        備考
      %th 
        操作
    - @income_values.each do |income_value|
      %tr
        %td
          = income_value.year_month.strftime('%Y年%m月%d日')
        %td
          = income_value.title_i18n
        %td
          = income_value.value.to_s(:delimited)
          円
        %td
          = income_value.description
        %td
          = link_to "編集", [:edit, income_value]
          |
          \#{link_to "削除", income_value, method: :delete, data: { confirm: "本当に削除しますか？"}}
- else
  %p 登録されているデータがありません。
